R4f_project/Project4/project4/src/main/java/com/server4/NotificationSystem/SendEmail.java
R4f_project/src/main/java/Helpers/SendEmail.java

R4f_project/src/main/java/NotificationSystem/SendEmail.java
