/* The css file responsible for all styling elements of the calendar Page of the R4F website*/

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* month nav bar */

.month-scroller-bar {
    display: flex;
    justify-content:left;
    padding: 30px;
    padding-bottom: 15px;
}

.back-button, .month-text, .forward-button {
    display: flex;
}

.month-text {
    font-weight: 600;
    text-decoration: underline 3px #ff400f;
}

.month-scroller-bar > div {
    margin-right: 20px;  /* adds 20px to the right of each div of the right side (separating home and about)*/
    font-size: 1em;
    text-transform: uppercase;
}

/* page content */

.page-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.20fr;
}

.calendar-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

/* cell specifics */

.date-cell{
    display: grid;
    grid-template-rows: 0.20fr 1fr;
    padding: 15px;
}

.date-content{
    font-size: 0.90em;
}

.date-text {
    text-decoration: underline 3px #ff400f;
    font-weight: bold;
}

button {
    background-color: #E9FFFE;
    padding: 5px;
    border-color: #292929;
    border-radius: 6px;
    border-width: 2px;
}

.date-bd-displayer-wrapper{
    padding-left: 20px;
}



