/* The css file responsible for all styling elements of the R4F website and all of its pages*/

/* GLOBAL */

body {
    /* setting all divs to have no margin/padding, set these attributes within each specific div if needed */
    padding: 0px;
    margin: 0px;
    background-color: #dcdcdc;
    font-family: "Kdam Thmor Pro", sans-serif;
}

.container {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    position: absolute;
    background-color: #ff400f;
    width: 100%;
    height: 150px;
}
footer {
    position: absolute;
    background-color: #292929;
    width: 100%;
    height: 150px;
    bottom: 0;
}
.header-center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer-center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* NAV BAR */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.left-side, .right-side {
    display: flex;
}
.nav-wrapper > .left-side > div{
    margin-right: 20px;  /* adds 20px to the right of each div of the right side (separating home and about)*/
    font-size: 1em;
    text-transform: uppercase;
}
.nav-wrapper > .right-side > div{
    margin-right: 20px;  /* adds 20px to the right of each div of the right side (separating home and about)*/
    font-size: 1em;
    text-transform: uppercase;
}

/* the 2 following classes dictate the transitions of underline (1px) when hovering over the div nav-link-wrapper*/
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper:hover {
    /*specific to when a subdiv under new-link-wrapper is being hovered over. :hover is a pseudo state*/
    border-bottom: 1px solid black;
}

/* the 4 following classes dictate the transition of color from grey to black when hovering over an a-link in nav-link-wrapper*/
.nav-link-wrapper a {
    /* specific to the a-links within the nav-link-wrapper*/
    color: #8a8a8a;
    text-decoration: none; /*skips default underline*/
    transition: color 0.5s;
}
.nav-link-wrapper a:hover {
    /*specific to when an a-link under new-link-wrapper is being hovered over*/
    color: black;
}
.active-nav-link{
    border-bottom: 1px solid black;
}
.active-nav-link a {
    color: black !important;  /*!important overwrites default color behaviour*/
}



/* SURVEY PAGE */

.survey-header {
    text-align: center;
    padding: 25px;
    font-size: larger;
}

.survey-form {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 25px;
    padding-top: 0px;
}

.question {
    padding: 15px;
    padding-bottom: 5px;
}

.survey-answer-box{
    padding-top: 10px;
}

input {
    background-color: #F9EAE6;
    padding: 5px;
    border-color: #292929;
    border-radius: 6px;
    border-width: 2px;
}

.submit-reset-buttons{
    display: flex;
    padding: 20px;
    justify-content: center;
}

.reset-button {
    padding-right: 10px; 
}

.submit-button{
    padding-left: 10px;
}

button {
    background-color: #E9FFFE;
    padding: 5px;
    border-color: #292929;
    border-radius: 6px;
    border-width: 2px;
}



/* WELCOME */

.three-column-wrapper {
    display: grid;  /* grid of the 3 columns spanning the whole page */
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    padding-top: 0px;
}


.buttons-content-wrapper {  /* grid of the buttons on the left side */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* button images on the left side */

.button-content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-img-background {
    height: 300px;
    width: 100%;
    background-size: cover;  /* for imgs of different sizes, auto crops to fit perfectly*/
    background-position: center;
    background-repeat: no-repeat;
    border: 4px #292929;
}
/* Adjusting image captions to lay on top of the images */
.img-text-wrapper {
    /* img text wrapper positioned at the very top */
    position: absolute;
    bottom: 0;
    /* items inside this div positioned at the top use flex box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* takes full height */
}
.logo-wrapper img{
    width: 100%;
}


/* forms */

/* new classes not in html for the fading effect of forms */
.img-darken {
    transition: 1s;
    filter: opacity(0%);
}
.img-lighten {
    transition: 1s;
    filter: opacity(100%);
}

.question {
    padding: 6px;
}

.buttons-content-wrapper, .left-form-content-wrapper, .right-form-content-wrapper {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.submit-reg-button, .submit-login-button {
    padding-top: 15px;
}


/* ABOUT US */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.profile-image-wrapper {
    display: flex;
    width: 90%;  /* 90% of one of the 2 grid columns */
    height: 80%;
    justify-content: center;
    align-items:stretch;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1{
    color: #292929;
}

.profile-content-wrapper a{
    color: #292929;
    text-decoration: none;
    font-weight: 600;   
}

.profile-image-wrapper img {
    padding: 30px;
    width: 90%;
}
