/* The css file responsible for all styling elements of the account Page of the R4F website*/

h1 {
    padding-bottom: 20px;
    padding-left: 40px;
}

ul {
    padding: 20px;
    padding-left: 70px;

}

li {
    padding: 12px;
    text-decoration: underline 2px solid #292929;
}