/* The css file responsible for all styling elements of the calendar Page of the R4F website*/

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* month selector */

.month-form {
    display: flex;
    justify-content:left;
    padding: 30px;
    padding-bottom: 15px;
}

.month-form > div {
    padding-right: 15px;
}

.month-value {
    margin-right: 35px;
}

.select-month-button {
    display: flex;
    text-transform: uppercase;
}

.month-text, .select-month-text {
    font-weight: 600;
    text-decoration: underline 3px #ff400f;
}

button {
    background-color: #E9FFFE;
    padding: 5px;
    border-color: #292929;
    border-radius: 6px;
    border-width: 2px;
    cursor: pointer;
}

option {
    background-color: #dcdcdc;
    padding: 5px;
    border-color: #292929;
    border-radius: 6px;
    border-width: 2px;
}

select {
    background-color: #fcfcfc;
    padding: 5px;
    border-color: #292929;
    border-radius: 6px;
    border-width: 2px;
}


/* page content */

/* .page-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
} */

.calendar-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

/* cell specifics */

.date-cell{
    display: grid;
    grid-template-rows: 0.20fr 1fr;
    padding: 7px;
}

.date-content{
    font-size: 1em;
}

.date-text {
    text-decoration: underline 3px #ff400f;
    font-weight: bold;
}

button {
    background-color: #E9FFFE;
    padding: 5px;
    border-color: #292929;
    border-radius: 6px;
    border-width: 2px;
}

.date-bd-displayer-wrapper{
    padding-left: 20px;
}


li {
    font-size: 1em;
}


